body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  height: 5%;
  width: 80%;
  padding: 0.3rem;
  margin-bottom: 1.2rem;
}

button {
  width: 50%;
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 0.5rem;
  background-color: lightseagreen;
  color: white;
  cursor: pointer;
}

.username {
  font-weight: bold;
  color: lightseagreen;
  position: absolute;
  top: 15px;
  right: 20px;
}

.container {
  height: 70vh;
  width: 40vh;

  border-radius: 0.4rem;
  border: 1px solid lightseagreen;
}
